.frame-1, .frame-1 * {
     box-sizing: border-box;
     }
.frame-1 {
    background: #ffffff;
    width: 1920px;
     height: 1080px;
    
            position: relative;
    
        overflow: hidden;
    }

 .rectangle-1 {
    background: #d9d9d9;
    width: 594px;
     height: 188px;
    
            position: absolute;
     left: 167px;
    top: 151px;
    
        }

 .rectangle-2 {
    background: #d9d9d9;
    width: 592px;
     height: 520px;
    
            position: absolute;
     left: 465px;
    top: 481px;
    
        }

 .rectangle-3 {
    background: #d9d9d9;
    width: 318px;
     height: 390px;
    
            position: absolute;
     left: 1159px;
    top: 271px;
    
        }

 .rectangle-4 {
    background: #d9d9d9;
    width: 228px;
     height: 298px;
    
            position: absolute;
     left: 1553px;
    top: 673px;
    
        }

 .rectangle-5 {
    background: #d9d9d9;
    width: 246px;
     height: 332px;
    
            position: absolute;
     left: 1543px;
    top: 123px;
    
        }

